version: 2

# Note that each `run` command is executed by a separate bash process.
# We have to use `$BASH_ENV`, which contains file path to `.bashrc` file, to pass information to the subsequent bash processes.
references:
  container_config: &container_config
    docker:
      - image: erlang:26.2.5.13 # Using a Docker image that is pre-configured for installing Erlang.
        environment:
          ANTIKYTHERA_INSTANCE_DEP: '{:antikythera_instance_example, [git: "git@github.com:access-company/antikythera_instance_example.git"]}'
  install_prerequisites: &install_prerequisites
    run:
      name: Install required apt packages and generate locale
      # Installing `locales` automatically triggers `locale-gen` once in postinstall step
      command: |
        echo 'en_US.UTF-8 UTF-8' > /etc/locale.gen
        apt-get update && apt-get install -y unzip locales
        echo 'export LANG=en_US.UTF-8' >> $BASH_ENV
  restore_asdf_directory: &restore_asdf_directory
    restore_cache:
      keys:
        - asdf_directory-{{ .Branch }}-{{ .Revision }}
        - asdf_directory-{{ .Branch }}-
        - asdf_directory-
  enable_asdf_erlang_and_elixir: &enable_asdf_erlang_and_elixir
    run:
      name: Enable asdf, erlang and elixir by loading asdf.sh
      # Global Elixir version is required for projects that depends on antikythera,
      # since symlinked `.tool-versions` file is not available at the first `mix` invocation.
      command: |
        echo 'source /usr/local/asdf/asdf.sh' >> $BASH_ENV
        source $BASH_ENV
        erlang_version="$(grep erlang /usr/local/asdf/tool-versions-copy)"
        elixir_version="$(grep elixir /usr/local/asdf/tool-versions-copy)"
        asdf global ${erlang_version}
        asdf global ${elixir_version}
  add_github_hostkey: &add_github_hostkey
    run:
      name: Add GitHub's server host key to known_hosts
      # Ported from CircleCI's official `checkout` script. You may check original implementation in CircleCI's build result UI.
      # This is required BEFORE `git` command is invoked without involving CircleCI's official `checkout` step.
      command: |
        mkdir -p ~/.ssh
        cat << EOF >> ~/.ssh/known_hosts
        github.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCj7ndNxQowgcQnjshcLrqPEiiphnt+VTTvDP6mHBL9j1aNUkY4Ue1gvwnGLVlOhGeYrnZaMgRK6+PKCUXaDbC7qtbW8gIkhL7aGCsOr/C56SJMy/BCZfxd1nWzAOxSDPgVsmerOBYfNqltV9/hWCqBywINIR+5dIg6JTJ72pcEpEjcYgXkE2YEFXV1JHnsKgbLWNlhScqb2UmyRkQyytRLtL+38TGxkxCflmO+5Z8CSSNY7GidjMIZ7Q4zMjA2n1nGrlTDkzwDCsw+wqFPGQA179cnfGWOWRVruj16z6XyvxvjJwbz0wQZ75XK5tKSb7FNyeIEs4TT4jk+S4dhPeAUC5y+bDYirYgM4GC7uEnztnZyaVWQ7B381AK4Qdrwt51ZqExKbQpTUNn+EjqoTwvqNj4kqx5QUCI0ThS/YkOxJCXmPUWZbhjpCg56i+2aB6CmK2JGhn57K5mj0MNdBXA4/WnwH6XoPWJzK5Nyu2zB3nAZp+S5hpQs+p1vN1/wsjk=
        EOF
  checkout_external: &checkout_external
    name: Checkout the specified branch of external repository
    command: |
      if [ -d .git ]; then
        git checkout .
        git fetch
        git checkout "$EXTERNAL_GIT_BRANCH"
        git pull "$EXTERNAL_GIT_REPOSITORY" "$EXTERNAL_GIT_BRANCH"
      else
        git clone "$EXTERNAL_GIT_REPOSITORY" .
      fi
  restore_updated_antikythera_instance_example_directory: &restore_updated_antikythera_instance_example_directory
    restore_cache:
      keys:
        - antikythera_instance_example-updated_repo-{{ .Branch }}-{{ .Environment.CIRCLE_WORKFLOW_ID }}
  restore_testgear_directory: &restore_testgear_directory
    restore_cache:
      keys:
        - testgear-repo-{{ .Branch }}-{{ .Environment.CIRCLE_WORKFLOW_ID }}
  edit_etc_hosts: &edit_etc_hosts
    run:
      name: Add testgear.localhost and <hostname>.local to /etc/hosts
      command: echo "127.0.0.1 testgear.localhost $(hostname).local" >> /etc/hosts
  restore_updated_testgear_directory: &restore_updated_testgear_directory
    restore_cache:
      keys:
        - testgear-updated_repo-{{ .Branch }}-{{ .Environment.CIRCLE_WORKFLOW_ID }}

jobs:
  prepare_elixir:
    <<: *container_config
    working_directory: /tmp/antikythera
    steps:
      - *install_prerequisites
      - *restore_asdf_directory
      # To use antikythera's `.tool-versions` file, take the repository here.
      # Note that we won't save the repository because no change occurs during this job.
      - restore_cache:
          keys:
            - antikythera-repo-{{ .Branch }}-{{ .Revision }}
            - antikythera-repo-{{ .Branch }}-
      - checkout
      - run:
          name: Make sure asdf and its erlang and elixir plugins installed
          command: |
            [ -d /usr/local/asdf ] || git clone https://github.com/asdf-vm/asdf.git /usr/local/asdf --branch v0.4.3
            echo 'source /usr/local/asdf/asdf.sh' >> $BASH_ENV
            source $BASH_ENV
            asdf plugin-add erlang || asdf plugin-update erlang
            asdf plugin-add elixir || asdf plugin-update elixir
      - run:
          name: Make sure a current version of erlang ready to use
          command: |
            erlang_version="$(grep erlang .tool-versions)"
            asdf install ${erlang_version}
            asdf global ${erlang_version}
      - run:
          name: Make sure a previous version of elixir installed if this commit updates elixir
          command: |
            if [ "${CIRCLE_BRANCH}" = "master" ]; then
              DIFF_TARGET="HEAD^ HEAD"
            else
              DIFF_TARGET="origin/master"
            fi
            if ! git diff --quiet ${DIFF_TARGET} .tool-versions; then
              previous_elixir_version="$(git diff ${DIFF_TARGET} .tool-versions | grep -e '^-elixir' | sed 's/^-//' || true)"
              if [ -n "${previous_elixir_version}" ]; then
                asdf install ${previous_elixir_version}
                asdf local ${previous_elixir_version}
                mix local.hex --force
                mix local.rebar --force
                git checkout -- .tool-versions
              fi
            fi
      - run:
          name: Make sure a current version of elixir and local hex/rebar ready to use
          command: |
            elixir_version="$(grep elixir .tool-versions)"
            asdf install ${elixir_version}
            asdf global ${elixir_version}
            mix local.hex --force
            mix local.rebar --force
            cp -f .tool-versions /usr/local/asdf/tool-versions-copy
      - save_cache:
          key: asdf_directory-{{ .Branch }}-{{ .Revision }}
          paths:
            - /usr/local/asdf
            - ~/.asdf
  antikythera_static_analysis:
    <<: *container_config
    working_directory: /tmp/antikythera
    steps:
      - *install_prerequisites
      - *restore_asdf_directory
      - *enable_asdf_erlang_and_elixir
      - restore_cache:
          keys:
            - antikythera-repo-static-analysis-{{ .Branch }}-{{ .Revision }}
            - antikythera-repo-static-analysis-{{ .Branch }}-
      - checkout
      - run: mix deps.get
      - run: mix credo -a --strict
      - run: mix dialyzer
      - run: rm -rf tmp/
      - save_cache:
          key: antikythera-repo-static-analysis-{{ .Branch }}-{{ .Revision }}
          paths:
            - .
            - ~/.cache
  antikythera_whitebox_test:
    <<: *container_config
    working_directory: /tmp/antikythera
    steps:
      - *install_prerequisites
      - *restore_asdf_directory
      - *enable_asdf_erlang_and_elixir
      - restore_cache:
          keys:
            - antikythera-repo-{{ .Branch }}-{{ .Revision }}
            - antikythera-repo-{{ .Branch }}-
      - checkout
      - run: mix deps.get
      - run: mix test --trace
      - run: rm -rf tmp/
      - save_cache:
          # Save deps here, since rebar3 may perform additional fetching/caching
          key: antikythera-repo-{{ .Branch }}-{{ .Revision }}
          paths:
            - .
            - ~/.cache
  update_antikythera_instance_example:
    <<: *container_config
    working_directory: /tmp/antikythera_instance_example
    steps:
      - *install_prerequisites
      - *restore_asdf_directory
      - *enable_asdf_erlang_and_elixir
      - restore_cache:
          keys:
            - antikythera_instance_example-repo-{{ .Branch }}-
            - antikythera_instance_example-repo-
      - *add_github_hostkey
      - run:
          <<: *checkout_external
          environment:
            EXTERNAL_GIT_REPOSITORY: git@github.com:access-company/antikythera_instance_example.git
            EXTERNAL_GIT_BRANCH: master
      - run:
          name: Compile antikythera_instance_example
          # Compile beforehand in order to create cache for later builds/jobs.
          command: |
            mix deps.get || mix deps.get
            mix deps.get
            MIX_ENV=dev mix compile
            MIX_ENV=test mix compile
            MIX_ENV=prod ANTIKYTHERA_COMPILE_ENV=local mix compile
      - save_cache:
          key: antikythera_instance_example-repo-{{ .Branch }}-{{ .Environment.CIRCLE_WORKFLOW_ID }}
          paths:
            - .
            - ~/.cache
      - run:
          name: Update antikythera
          # A commit made in this step is not pushed yet, just persists in cache
          # (notice a difference in cache key name, `updated_repo`).
          # It will be pushed later if
          #  (a) currently building branch is "master",
          #  (b) upgrade_compatibility_test and version_upgrade_test are successful.
          # `CIRCLE_SHA1` env var refers to current commit hash of building project (antikythera)
          # Note that antikythera_instance_example does not have any test yet,
          # though artifacts compiled for MIX_ENV=test will be used in upgrade_compatibility_test.
          command: |
            sed -E -i -e "s/(^antikythera_dep .+ ref: )\".+\"/\1\"${CIRCLE_SHA1}\"/" mix.exs
            cp -f /usr/local/asdf/tool-versions-copy .tool-versions
            mix deps.get || mix deps.get
            mix deps.get
            if ! git diff --quiet; then
              git --no-pager diff
              git -c user.name='AntikytheraDeploy' -c user.email='antikythera-gr@access-company.com' commit -a -m '[CI] Update antikythera'
            fi
            MIX_ENV=dev mix compile
            MIX_ENV=test mix compile
            MIX_ENV=prod ANTIKYTHERA_COMPILE_ENV=local mix compile
      - save_cache:
          key: antikythera_instance_example-updated_repo-{{ .Branch }}-{{ .Environment.CIRCLE_WORKFLOW_ID }}
          paths:
            - .
            - ~/.cache
  prepare_testgear:
    <<: *container_config
    working_directory: /tmp/testgear
    steps:
      - *install_prerequisites
      - *restore_asdf_directory
      - *enable_asdf_erlang_and_elixir
      - restore_cache:
          keys:
            - testgear-repo-{{ .Branch }}-
            - testgear-repo-
      - *add_github_hostkey
      - run:
          <<: *checkout_external
          environment:
            EXTERNAL_GIT_REPOSITORY: git@github.com:access-company/testgear.git
            EXTERNAL_GIT_BRANCH: master
      - run:
          name: Fetch dependencies with latest antikythera_instance_example and compile
          command: |
            mix deps.update antikythera_instance_example
            mix deps.get || mix deps.get
            mix deps.get
            MIX_ENV=dev mix compile
            MIX_ENV=test mix compile
            MIX_ENV=prod ANTIKYTHERA_COMPILE_ENV=local mix compile
      - save_cache:
          key: testgear-repo-{{ .Branch }}-{{ .Environment.CIRCLE_WORKFLOW_ID }}
          paths:
            - .
            - ~/.cache
  upgrade_compatibility_test:
    <<: *container_config
    working_directory: /tmp/antikythera_instance_example
    steps:
      - *install_prerequisites
      - *restore_asdf_directory
      - *enable_asdf_erlang_and_elixir
      - *restore_updated_antikythera_instance_example_directory
      - *restore_testgear_directory
      - *add_github_hostkey
      - *edit_etc_hosts
      - run: mix antikythera_local.upgrade_compatibility_test ../testgear
  version_upgrade_test:
    <<: *container_config
    working_directory: /tmp/antikythera_instance_example
    steps:
      - *install_prerequisites
      - *restore_asdf_directory
      - *enable_asdf_erlang_and_elixir
      - *restore_updated_antikythera_instance_example_directory
      - *restore_testgear_directory
      - *edit_etc_hosts
      - run: mix antikythera_local.version_upgrade_test ../testgear
  publish_updated_antikythera_instance_example:
    <<: *container_config
    working_directory: /tmp/antikythera_instance_example
    steps:
      - *restore_updated_antikythera_instance_example_directory
      - *add_github_hostkey
      - run: |
          if ! git diff --quiet HEAD origin/master; then
            git --no-pager show
            git push git@github.com:access-company/antikythera_instance_example.git HEAD:master
          fi
  update_testgear:
    <<: *container_config
    working_directory: /tmp/testgear
    steps:
      - *install_prerequisites
      - *restore_asdf_directory
      - *enable_asdf_erlang_and_elixir
      - *restore_testgear_directory
      - *add_github_hostkey
      - run:
          name: Fetch dependencies with updated (now published) antikythera_instance_example
          command: |
            mix deps.update antikythera_instance_example
            mix deps.get || mix deps.get
            mix deps.get
            MIX_ENV=dev mix compile
            MIX_ENV=test mix compile
      - save_cache:
          key: testgear-updated_repo-{{ .Branch }}-{{ .Environment.CIRCLE_WORKFLOW_ID }}
          paths:
            - .
            - ~/.cache
  testgear_whitebox_test:
    <<: *container_config
    working_directory: /tmp/testgear
    steps:
      - *install_prerequisites
      - *restore_asdf_directory
      - *enable_asdf_erlang_and_elixir
      - *restore_updated_testgear_directory
      - *edit_etc_hosts
      - run: mix test --trace
  testgear_blackbox_test:
    <<: *container_config
    working_directory: /tmp/testgear
    steps:
      - *install_prerequisites
      - *restore_asdf_directory
      - *enable_asdf_erlang_and_elixir
      - *restore_updated_testgear_directory
      - *edit_etc_hosts
      - run:
          name: Run testgear in background
          command: iex -S mix
          background: true
      - run:
          name: Wait until testgear starts (up to 30 seconds)
          command: |
            for _ in $(seq 1 30); do
              if curl -s -o /dev/null http://testgear.localhost:8080; then
                exit 0
              fi
              sleep 1
            done
            exit 1
      - run: TEST_MODE=blackbox_local mix test --trace

workflows:
  version: 2
  antikythera:
    jobs:
      - prepare_elixir
      - antikythera_static_analysis:
          requires:
            - prepare_elixir
      - antikythera_whitebox_test:
          requires:
            - prepare_elixir
      - update_antikythera_instance_example:
          requires:
            - antikythera_static_analysis
            - antikythera_whitebox_test
      - prepare_testgear:
          requires:
            - antikythera_static_analysis
            - antikythera_whitebox_test
      - upgrade_compatibility_test:
          requires:
            - prepare_testgear
            - update_antikythera_instance_example
      - version_upgrade_test:
          requires:
            - prepare_testgear
            - update_antikythera_instance_example
      - publish_updated_antikythera_instance_example:
          requires:
            - upgrade_compatibility_test
            - version_upgrade_test
          filters:
            branches:
              only: master
      - update_testgear:
          requires:
            - publish_updated_antikythera_instance_example
      - testgear_whitebox_test:
          requires:
            - update_testgear
      - testgear_blackbox_test:
          requires:
            - update_testgear
