!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(content="" name="keywords")
    %meta(content="" name="description")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(http-equiv="X-UA-Compatible" content="E=edge")
    %title <%= gear_name_camel %>
  %body
    = yield
