{lib_dirs, <%= inspect(lib_dirs) %>}.
{release, {<%= release_name %>, "<%= release_version %>"}, [
  {<%= release_name %>, "<%= release_version %>"},
  elixir,
  iex % needed for iex remote console
]}.
{include_erts, true}.
{include_src, false}.
{extended_start_script, true}.
{overlay, [
  {copy, "<%= vm_args_path %>", "releases/<%= release_version %>/vm.args"},
  {copy, "sys.config", "releases/<%= release_version %>/sys.config"}
]}.
